* {
    margin: 0;
    padding: 0;
}

/* Nav section */

.nav-container {
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.primary-color {
    color: #272727;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.nav-title {
    color: #272727;
    font-size: 60px;
    font-weight: 500px;
    padding: 30px 150px 5px 100px;
}

.nav-description {
    color: rgba(39, 39, 39, 0.60);
    padding: 30px 150px 20px 100px;
    padding-bottom: 30px;
}

.nav-btn {
    padding: 15px 25px;
    border-radius: 8px;
    text-decoration: none;
    color: white;
}

.btn-primary {
    background-color: #E55473;
    color: white;
    justify-content: center;
}
.nav-content a{
    text-decoration: none;
    color: white;
}

.profile-picture {
    width: 600px;
    height: 650px;
}

/* Feature section */
.feature-container {
    padding-bottom: 100px;
}

.feature-heading {
    padding: 200px 20px 20px 20px;
}

.feature-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    padding-top: 10px;
}
.image-title{
    text-align: center;
    padding-top: 10px;
    text-decoration: underline;
}

.feature-image-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 25px;
}

.first-image {
    height: 250px;
    width: 250px;
    border-radius: 1000px 1000px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

#first-background-image {

    background-image: url("./Flower/pngwing\ 6.png");
    background-repeat: no-repeat;
    background-size: 140px 180px;
    background-position: bottom;
}

.second-image {
    height: 250px;
    width: 250px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

#second-background-image {
    background-image: url("./Flower/pngwing\ 5.png");
    background-repeat: no-repeat;
    background-size: 160px 190px;
    background-position: bottom;
}

.third-image {
    height: 250px;
    width: 250px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

#third-background-image {
    background-image: url("./Flower/pngwing\ 7.png");
    background-repeat: no-repeat;
    background-size: 160px 190px;
    background-position: bottom;
}

/* Dealing section */
.deal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(229, 84, 115, 0.05);
    width: 1530px;
    height: 500px;
}

.deal-content {
    margin: auto;
    padding: 200px;
}

.deal-title-modify {
    color: #E55473;
}

.deal-content button {
    margin-left: 50%;
}

.deal-description {
    color: rgba(39, 39, 39, 0.60);
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    padding: 30px 0px 10px 0px;
    margin: 15px;
}

.deal-image {
    height: 250px;
    width: 200px;
    padding: 50px 300px 30px 30px;
}

.deal-btn {
    padding: 15px 50px;
    border-radius: 10px;
    text-align: center;
}

/* Insta section */
.instagram-content {
    text-align: center;

}

.insta-title {
    font-family: 'Lato', sans-serif;
    color: #272727;
    font-size: 30px;
    margin-top: 80px;
    margin-bottom: 30px;
}

.insta-description {
    font-family: 'Lato', sans-serif;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    margin-bottom: 80px;
}

.instagram-image {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.insta-image {
    width: 200px;
    height: 200px;
    padding-bottom: 70px;
}

/* Latest Deal section */
.latest-deal-content {
    background-image: url("/Flower/Rectangle\ 9.png");
    background-size: cover;
    margin: 0 auto;
    width: 900px;
    height: 250px;
    margin-bottom: 30px ;
}

.latest-deal-information {
    text-align: center;padding-top: 100px;
}
.latest-deal-title{
    color: #272727;
    font-family: 'Lato', sans-serif;
    padding-bottom: 15px;
}
.latest-deal-description{
    color: rgba(39, 39, 39, 0.60);
    font-family: 'Lato', sans-serif;
    padding-bottom: 20px;
}
.latest-deal-btn{
    border-radius: 5px;
    padding: 15px 15px;
    
}
.latest-deal-content input{
    padding: 18px 100px;
    border-radius: 8px;
}

/* Footer section */
footer{
    background-color: #111010;
    text-align: center;
    padding: 100px;
}
.footer-title{
    padding-top: 20px;
}
.footer-title-first-part{
    color: #E55473;
    font-family: 'Lato', sans-serif;
}
.footer-title-second-part{
   color: #FFFFFF;
   font-family: 'Lato', sans-serif;
}
.footer-description{
    color: rgba(255, 255, 255, 0.90);
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.copy-right{
    color: rgba(255, 255, 255, 0.40);
    font-family: 'Lato', sans-serif;
    font-size: 10px;
    padding-bottom: 50px;
}
/* Form section */
.form-container{
    background: rgba(229, 84, 115, 0.10);
}
form{
     padding: 300px;
    text-align: center;
    height: 100%;
    font-family: 'Lato', sans-serif;
    
}
form input{
    padding: 10px;
    border-radius: 8px;
    width: 200px;
}
form button{
    padding: 10px 20px;
    background-color: #E55473;
    color: white;
    border-radius: 8px;
}